li a {          /* List elements */
    width: 100px;
    text-align: center;
}

.navigation {
    background-color: rgb(29, 61, 45);
    /*background-color: rgba(0, 0, 0, 0.2);*/
}

.container1{
    position: absolute;
    top: 20%;
    margin-left: 380px;
}

.img {
    height: 400px;
    position: relative;
    z-index: -1;
    width: 100%;
    
}

.box {
    height: 320px;
    padding: 10px;
}

.img1{
    height: 400px;
    width: 100%;
}

.promo-caption {
    font-size: 24px;
}
